@model List<LeaveDay>

@{
    ViewData["Title"] = "Tüm İzinler";
    
}

<h2>Tüm İzinler</h2>


@if (Model.Count == 0)
{
    <p>Henüz izin talebiniz bulunmamaktadır.</p>
}
else
{
    
            <table class="table  table-hover text-center " >
        <thead>
            <tr>
                <th style="width: 8%;">Id</th>
                <th style="width: 9%;">Kullanıcı Adı</th>
                <th >Adı Soyadı</th>
                <th >E-mail</th>
                <th >Telefon</th>
                <th > İzin Başlangıç </th>
                <th>İzin Bitiş </th>
                <th >İzin Türü</th>
                <th >İzin Talep</th>
                <th style="width: 12%;">İzin Onay Durumu </th>
                


            </tr>
        </thead>
        <tbody >
    @foreach (var leave in Model)
    {
                <tr>

            @if (@leave.Users != null)
            {
                        <td>Çalışan ID:@leave.Users.Id</td>
                        <td>@leave.Users.NickName</td>
                        <td>@leave.Users.AdSoyad</td>
                        <td>@leave.Users.Email</td>
                        
                        <td>@leave.Users.Phone</td>
                        
                        




            }
            @if (@leave.Admins != null)
            {
                        <td>Admin ID: @leave.Admins.Id</td>
                        <td>@leave.Admins.NickName</td>
                        <td>@leave.Admins.AdSoyad</td>
                        <td>@leave.Admins.Email</td>
                        
                        <td>-</td>
                        
                        

                        


            }
            @if (@leave.Interns != null)
            {
                        <td>Stajyer ID: @leave.Interns.Id</td>
                        <td>@leave.Interns.NickName</td>
                        <td>@leave.Interns.AdSoyad</td>
                        <td>@leave.Interns.Email</td>
                        
                        
                        <td>@leave.Interns.Phone</td>
                        



            }


                    <td>@leave.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@leave.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>@leave.LeaveType</td>
                   
                    <td>@leave.IzinAlimTarihi.ToString("dd/MM/yyyy")</td>
                     <td>
    @{
        string durum = "warning"; // Varsayılan renk
        if (leave.IzinOnayDurumu == "Onaylandı")
        {
            durum = "success";
        }
        else if (leave.IzinOnayDurumu == "Reddedildi")
        {
            durum = "danger";
        }
    }

    <strong class="text-@durum">@leave.IzinOnayDurumu</strong>

    @if (leave.IzinOnayDurumu == "Beklemede")
    {
        <div class="row">
            <div class="col-6">
                <form action="RedIzin" method="post">
                    <input type="hidden" name="id" value="@leave.Id" />
                    <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer; display: inline-flex; align-items: center; justify-content: center;">
                        <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.95206 16.048L16.0769 7.92297" stroke="#dc3545" stroke-width="2"></path>
                            <path d="M16.0914 16.0336L7.90884 7.85101" stroke="#dc3545" stroke-width="2"></path>
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#dc3545" stroke-width="2"></path>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="col-6">
                <form action="OnayIzin" method="post">
                    <input type="hidden" name="id" value="@leave.Id" />
                    <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer; display: inline-flex; align-items: center; justify-content: center;">
                        <svg width="31px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.5163 8.93451L11.0597 14.7023L8.0959 11.8984" stroke="#198754" stroke-width="2"></path>
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#198754" stroke-width="2"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    }
</td>

                    <td>
                     <form action="DeleteAllPermissions" method="post">
                        <input type="hidden" name="id" value="@leave.Id" />
                      <button class="btn btn-danger">Sil</button>
                     </form>
                    </td>
                    <td> <form action="UpdateAllPermissions" method="get">
                        <input type="hidden" name="id" value="@leave.Id" />
                      <button class="btn btn-success">Düzenle</button>
                     </form></td>

                    


                </tr>
     }
        </tbody>
            </table>
   

    }
    <a asp-controller="User" asp-action="Permission" class="btn btn-primary">İzin Al</a>
